# **20 Moderate-Level Python Exercises (AI Lab – Extended Practice) **

**1. List Operations**

Create a list of numbers.

• Remove duplicates

• Find the maximum, minimum, and average manually (without built-in max() or sum())

**2. List Filtering**

Given a list of integers, create a new list containing only numbers divisible by 3.

**3. Tuple to List Conversion**

Take a tuple (10, 20, 30, 40) →

Convert it to a list, add one new element, and convert it back to a tuple.

**4. Merge Two Lists **

Given two lists [1,2,3] and [4,5,6], merge them and remove the middle element.

**5. Unique Values from a List**

Write a program that reads 10 integers from the user and prints only the unique ones using a
set.

**6. Dictionary Value Update**

You are given:

student = {"name": "Rafi", "marks": [70, 80, 90]}

Add a new subject mark and calculate the new average.

**7. Reverse Dictionary**

Create a dictionary of fruits:

{"apple": 1, "banana": 2, "mango": 3}

Then create another dictionary where keys and values are swapped.

**8. Count Characters in a String**

Take an input string and store the count of each character in a dictionary.

(e.g., "hello" → {'h':1, 'e':1, 'l':2, 'o':1})

**9. Stack Simulation**

Use a list as a stack.

Push 3 elements, pop 1, and print the final stack.

**10. Queue Simulation**

Use a list as a queue.

Add 3 elements, remove one from the front, and print the queue.

**11. Function with Default Argument **

Write a function that calculates simple interest:

SI = (p * r * t) / 100

where r = 5% by default if not provided.

**12. Function Returning Multiple Values**

Write a function that takes two numbers and returns their sum and difference.

**13. List Processing with Function**

Write a function that takes a list of numbers and returns a new list of their squares.

**14. File Write & Read**

Write a program to:

• Take 5 names from the user,

• Write them to a text file,

• Then read and print all names.

**15. Count Lines in File**

Write a program that counts how many lines are in a text file.

**16. Using random Library**

Generate a random list of 10 integers (1–50).
Print the highest and lowest random number.

**17. Using math Library**

Ask the user for a number and print:

• Its square root

• Its factorial

• Its power (raised to 3)

**18. Using numpy**

Create a NumPy array of numbers from 1–10.

Print the sum, mean, and the array multiplied by 2.

**19. Using pandas**

Create a simple DataFrame of 3 students with their marks.

Print the average mark of all students.

**20. OOP – Stack Class**

Create a Stack class with:

• push, pop, and display methods

•Then demonstrate pushing and popping 3 elements.

# ** Bonus (Optional):**

Write a small program that reads student names and marks from a file and stores them in a
dictionary — key as name, value as marks.